name: Scheduled Workflow

on:
  schedule:
    - cron: "*/5 * * * *"

jobs:
  scheduled-job:
    runs-on: ubuntu-latest
    steps:
      - name: Print message
        run: echo "Scheduled workflow running"
